workflows/Github.json
{
  "active": true,
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-10-13T14:13:19.453Z",
  "id": "6ztpU6Rr1Kw6hFdB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Github",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "a-kbv",
          "mode": "list",
          "cachedResultName": "a-kbv",
          "cachedResultUrl": "https://github.com/a-kbv"
        },
        "repository": {
          "__rl": true,
          "value": "php-skype",
          "mode": "list",
          "cachedResultName": "php-skype",
          "cachedResultUrl": "https://github.com/a-kbv/php-skype"
        },
        "events": [
          "*"
        ],
        "options": {}
      },
      "id": "a2a4e967-a571-45c1-80d4-d3229c5aed77",
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        820,
        380
      ],
      "webhookId": "77557619-73a4-4dcf-8629-e252d81e9061",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YVtSAFF7JxYLm4aL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001946690670",
        "text": "={{ $json.body.sender.login }} - {{ $json.body.action }} - {{ $json.body.repository.full_name }}",
        "additionalFields": {}
      },
      "id": "d604b3e4-44fc-4f9b-9c5f-7de7ed508d95",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1040,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "XRq7zdmuAxDNJ1oL",
          "name": "@akbv_github_bot"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "a-kbv",
          "mode": "list",
          "cachedResultName": "a-kbv",
          "cachedResultUrl": "https://github.com/a-kbv"
        },
        "repository": {
          "__rl": true,
          "value": "bash-helper",
          "mode": "list",
          "cachedResultName": "bash-helper",
          "cachedResultUrl": "https://github.com/a-kbv/bash-helper"
        },
        "events": [
          "*"
        ],
        "options": {}
      },
      "id": "22d84676-0d1b-4eaf-aa60-ad9059e7a412",
      "name": "Github Trigger1",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        820,
        540
      ],
      "webhookId": "b396459a-7c9e-4669-b78e-32cd2507eb22",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YVtSAFF7JxYLm4aL",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "owner": {
          "__rl": true,
          "value": "a-kbv",
          "mode": "list",
          "cachedResultName": "a-kbv",
          "cachedResultUrl": "https://github.com/a-kbv"
        },
        "repository": {
          "__rl": true,
          "value": "bash-helper",
          "mode": "list",
          "cachedResultName": "bash-helper",
          "cachedResultUrl": "https://github.com/a-kbv/bash-helper"
        },
        "events": [
          "*"
        ],
        "options": {}
      },
      "id": "c89c8c78-9fd7-42ea-a836-871d16791c09",
      "name": "Github Trigger2",
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        820,
        700
      ],
      "webhookId": "5392ee15-c3e2-4153-b43d-2529ce5b6018",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YVtSAFF7JxYLm4aL",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 458211593,
      "webhookEvents": [
        "*"
      ]
    },
    "node:Github Trigger1": {
      "webhookId": 458211594,
      "webhookEvents": [
        "*"
      ]
    },
    "node:Github Trigger2": {
      "webhookId": 458211598,
      "webhookEvents": [
        "*"
      ]
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-02-01T11:11:18.539Z",
  "versionId": "21cb6dcd-d8cd-47b7-8801-4a2e85a330f1"
}